* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond";
}

sub {
  vertical-align: super;
}

html,body,.opacity,.parallax,.contact  {
  height: 100%;
  width: 100%;
}

body {
}

a {
  color: currentColor;
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-c {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-r {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.parallax {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.mini-parallax {
  height: 75%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#one {
  background-image: url(../pics/bgi.jpg);
}

#two {
  background-image: url(../pics/bd.jpg);
}

#three {
  background-image: url(../pics/room.jpg);
}

#four {
  background-image: url(../pics/spa.jpeg);
}

.opacity {
  background-color:rgba(0, 0, 0, 0.8);
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}

.opacity img {
  width: 50%;
}

.logo {
  height: 100%;
  width: 100%;
  background-image: url(../pics/logo3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 50%;
}

.bandeau {
  width: 100%;
  height: 100%;
  background: white 0 0 no-repeat;
}

.left {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 45%);   /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(45%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 45%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 45%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 45%); /* IE10+ */
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 45%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#825b00',GradientType=0 ); /* IE6-9 */
}

.left {
  justify-content: flex-end;
}

.right {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 45%);   /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(45%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 45%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 45%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 45%); /* IE10+ */
  background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 45%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#825b00',GradientType=0 ); /* IE6-9 */
}
.mini-parallax .opacity {
  background-color:rgba(0, 0, 0, 0.5);
}

.activite {
  width: 65%;
  height: 100%;
  background-color: white;
}

.space {
  height: 25%;
}

.contenue {
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 5%;
  align-items: center;
  justify-content: space-around;
}

.contenue h2 {
  color: #08997f;
  font-size: 300%;
}

.contenue h2::after {
  content: "";
  height: 3px;
  display: block;
  background-color: #08997f;
  width: 100%;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.contenue p {
  font-size: 200%;
}


/*=============================================>>>>>
= Menu-Button =
===============================================>>>>>*/

.menu-icon-wrapper {
  position: fixed;
  height: 75px;
  width: 75px;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: 0.1s;
  z-index: 9999;
  right:0;
  background-color: #08997f;
}

.menu-icon-wrapper.scaled {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}

.menu-icon-wrapper svg {
	-webkit-transform: scale(0.075);
	-ms-transform: scale(0.075);
	transform: scale(0.075);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-icon-wrapper path {
	stroke: white;
	stroke-width: 35px;
	stroke-linecap: round;
  stroke-linejoin: round;
	fill: transparent;
}

.menu-icon-wrapper .menu-icon-trigger {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	pointer-events: auto;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.menu-icon-wrapper .menu-icon-trigger:hover,
.menu-icon-wrapper .menu-icon-trigger:focus {
	outline: none;
}

.dummy {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  overflow: hidden;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  -ms-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.dummy--active {
  height: 75px;
}

.dummy nav {
  width: 45%;
  margin: 0 auto;
}
.dummy nav ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  font-size: 175%;
}

.dummy li::after {
  content: "";
  height: 2px;
  display: block;
  background-color: #08997f;
  width: 0;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.dummy li:hover::after {
  width: 100%;
}
